config_create.py
config.ini

# scala/intellij
/target
/target/*
spark-app/target/
spark-app/target
spark-app/*.log
spark-app/*.iml
spark-app/*.ipr
spark-app/*.iws
spark-app/.idea
spark-app/.history
spark-app/.scala_dependencies
spark-app/.cache-main
spark-app/*.class
spark-app/.bsp/